@use "../../styles/sass/variables" as v;
@use "../../styles/sass/typography" as t;
@use "../../styles/sass/breakpoints" as mq;

.container {
  display: flex;
  justify-content: center;
  gap: v.$sp-8;
  margin-block: v.$sp-6;

  a {
    text-decoration: none;
    text-transform: uppercase;
    color: t.$color-secondary;
    @include t.font(v.$font-secondary, 14px);
    letter-spacing: 2px;
    padding-bottom: v.$sp-3;
  }
}

a.active {
  border-bottom: 3px solid white;
  color: white;
}
