@use "../../styles/sass/variables" as v;
@use "../../styles/sass/typography" as t;
@use "../../styles/sass/breakpoints" as mq;

.title {
  text-transform: uppercase;
  color: t.$color-primary;
  @include t.font(v.$font-secondary);
  letter-spacing: 1px;
  font-weight: 200;
  text-align: center;
  margin-block: v.$sp-12;
  margin-inline: clamp(v.$sp-6, 0.5458rem + 4.0712vw, v.$sp-10);

  @include mq.md {
    text-align: left;
  }

  span {
    color: rgb(from t.$color-primary r g b / 0.5);
    margin-right: v.$sp-6;
  }
}

.heroImg {
  height: clamp(9.375rem, 2.1127rem + 30.9859vw, 30rem);
  width: clamp(9.375rem, 2.1127rem + 30.9859vw, 30rem);
  margin: auto;
}
