@use "../../styles/sass/variables" as v;
@use "../../styles/sass/typography" as t;
@use "../../styles/sass/breakpoints" as mq;

.hero {
  flex-basis: 50%;
}

.heroImg {
  height: clamp(9.375rem, 2.1127rem + 30.9859vw, 30rem);
  width: clamp(9.375rem, 2.1127rem + 30.9859vw, 30rem);
  margin: auto;
  @include mq.lg {
    margin-block-start: v.$sp-30;
  }
}

.contentContainer {
  // margin-inline: clamp(v.$sp-6, 0.5458rem + 4.0712vw, v.$sp-10);
  text-align: center;
  color: t.$color-primary;
  @include mq.sm {
    padding-inline: clamp(0rem, -27.5rem + 68.75vw, v.$sp-22);
  }
  flex-basis: 50%;
  @include mq.lg {
    text-align: left;
    padding-inline: 0;
  }

  hr {
    width: 100%;
    border-color: v.$color-blue-300;
    border-width: 0.5px;
  }
}

.title {
  @include t.title;
  text-transform: uppercase;
}

.description {
  color: t.$color-secondary;
  @include t.body;
  margin-block: v.$sp-4 v.$sp-6;
}

.flexContainer {
  @include mq.sm {
    display: flex;
    justify-content: space-around;
  }
  @include mq.lg {
    justify-content: flex-start;
    gap: v.$sp-8;
  }
}

.infoContainer {
  margin-block: v.$sp-6;

  p {
    text-transform: uppercase;
    color: t.$color-secondary;
    @include t.infoTitle;
  }

  h2 {
    @include t.infoContent;
    margin-block-start: v.$sp-3;
  }
}
