@use "./variables" as *;
@use "./breakpoints" as mq;

@mixin navigation {
  font-family: $font-secondary;
  font-size: $text-base;
  font-weight: 400;
  letter-spacing: 2px;
  color: $color-text-primary;
}

@mixin site-heading {
  font-family: $font-primary;
  font-size: clamp($text-7xl, 1.1832rem + 16.285vw, $text-9xl);
  font-weight: 400;
  color: $color-text-primary;
}

@mixin site-subheading {
  color: $color-text-secondary;
  font-family: $font-secondary;
  font-size: clamp($text-base, 0.2844rem + 3.0534vw, $text-3xl);
  font-weight: 400;
  letter-spacing: clamp(2.5px, 0.0682rem + 0.5089vw, 4px);
  line-height: $lh-normal;
}

@mixin body {
  color: $color-text-secondary;
  font-family: $font-body;
  font-size: clamp($text-sm, 0.8715rem + 0.2817vw, $text-lg);
  font-weight: 400;
  line-height: $lh-relaxed;
}

@mixin explore {
  color: $color-blue-950;
  font-family: $font-primary;
  font-size: clamp($text-lg, 0.2901rem + 3.5623vw, $text-3xl);
}

@mixin current-route {
  color: $color-text-primary;
  font-family: $font-secondary;
  font-size: clamp(1rem, 0.7615rem + 1.0178vw, 1.25rem);
  font-weight: 400;
  letter-spacing: clamp(2.5px, 0.0682rem + 0.5089vw, 4px);
  @include mq.md {
    font-size: clamp(1.25rem, 0.6786rem + 1.1905vw, 1.75rem);
  }
}

@mixin destination-title {
  color: $color-text-primary;
  font-family: $font-primary;
  font-weight: 400;
  font-size: clamp($text-6xl, 2.0687rem + 6.1069vw, $text-7xl);
  @include mq.md {
    font-size: clamp($text-7xl, 3.8571rem + 2.381vw, $text-8xl);
  }
}

@mixin extra-info-title {
  color: $color-text-secondary;
  font-family: $font-secondary;
  font-size: $text-xs;
  font-weight: 400;
}
@mixin extra-info-content {
  color: $color-text-primary;
  font-family: $font-primary;
  font-size: $text-3xl;
  font-weight: 400;
}

@mixin destination-btn {
  color: $color-text-secondary;
  font-family: $font-secondary;
  font-size: clamp($text-xs, 0.757rem + 0.5089vw, $text-base);
  letter-spacing: 2px;
}

@mixin heading {
  color: $color-text-primary;
  font-family: $font-primary;
  font-size: clamp($text-2xl, 0.5458rem + 4.0712vw, $text-5xl);
  font-weight: 400;
  @include mq.md {
    font-size: clamp($text-5xl, 1.3571rem + 2.381vw, $text-6xl);
  }
}

@mixin subheading {
  color: rgb(from $color-text-primary r g b / 0.5);
  font-family: $font-primary;
  font-size: clamp($text-lg, 0.8169rem + 1.3146vw, $text-4xl);
  font-weight: 400;
}
