@use "./variables" as *;

@mixin font($font-family: $font-primary, $font-size: $text-base) {
  font-family: $font-family;
  font-size: $font-size;
}

$color-primary: $color-text-primary;
$color-secondary: $color-text-secondary;
