@use "./variables" as *;

@mixin font($font-family: $font-primary, $font-size: $text-base) {
  font-family: $font-family;
  font-size: $font-size;
}

$color-primary: $color-text-primary;
$color-secondary: $color-text-secondary;

// LINE HEIGHTS

$lh-none: var(--leading-none);
$lh-tight: var(--leading-tight);
$lh-snug: var(--leading-snug);
$lh-normal: var(--leading-normal);
$lh-relaxed: var(--leading-relaxed);
$lh-loose: var(--leading-loose);
