// BREAKPOINTS
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;

// COLORS
$color-blue-950: var(--color-blue-950);
$color-blue-300: var(--color-blue-300);
$color-white: var(--color-white);

// TEXT COLORS
$color-text-primary: var(--color-text-primary);
$color-text-secondary: var(--color-text-secondary);

// TYPOGRAPHY
$font-heading: var(--font-primary); //Bellefair
$font-secondary: var(--font-secondary); // Barlow Condensed
$font-body: var(--font-body); // Barlow

// TEXT SIZES
$text-xs: var(--text-xs); // 14px
$text-sm: var(--text-sm); // 15px
$text-base: var(--text-base); // 16px
$text-lg: var(--text-lg); // 18px
$text-xl: var(--text-xl); //20px
$text-2xl: var(--text-2xl); // 24px
$text-3xl: var(--text-3xl); // 28px
$text-4xl: var(--text-4xl); // 32px
$text-5xl: var(--text-5xl); // 40px
$text-6xl: var(--text-6xl); // 56px
$text-7xl: var(--text-7xl); // 80px
$text-8xl: var(--text-8xl); // 96px
$text-9xl: var(--text-9xl); // 144px

// SPACING
$sp-0: var(--space-0);
$sp-1: var(--space-1);
$sp-2: var(--space-2); // 0.5rem
$sp-3: var(--space-3);
$sp-4: var(--space-4); // 1rem
$sp-5: var(--space-5);
$sp-6: var(--space-6); // 1.5rem
$sp-8: var(--space-8); // 2rem
$sp-10: var(--space-10); // 2.5rem
$sp-12: var(--space-12); // 3rem
$sp-16: var(--space-16);
$sp-20: var(--space-20);
$sp-22: var(--space-22); // 5.5rem
$sp-24: var(--space-24);
$sp-30: var(--space-30);
$sp-38: var(--space-38); // 9.5rem
$sp-40: var(--space-40);
$sp-48: var(--space-48); // 12rem

// Z-INDEX
$z-1: var(--z-modal);
$z-2: var(--z-popover);

// LINE HEIGHTS

$lh-none: var(--leading-none);
$lh-tight: var(--leading-tight);
$lh-snug: var(--leading-snug);
$lh-normal: var(--leading-normal);
$lh-relaxed: var(--leading-relaxed);
$lh-loose: var(--leading-loose);
