// BREAKPOINTS
$sm: var(--breakpoint-sm, 640px);
$md: var(--breakpoint-md, 768px);
$lg: var(--breakpoint-lg, 1024px);
$xl: var(--breakpoint-xl, 1280px);
$xxl: var(--breakpoint-2xl, 1536px);

// COLORS
$color-blue-950: var(--color-blue-950);
$color-blue-300: var(--color-blue-300);
$color-white: var(--color-white);

// TEXT COLORS
$color-text-primary: var(--color-text-primary);
$color-text-secondary: var(--color-text-secondary);

// TYPOGRAPHY
$font-primary: var(--font-primary);
$font-secondary: var(--font-secondary);

// TEXT SIZES
$text-xs: var(--text-xs);
$text-base: var(--text-base);
$text-lg: var(--text-lg);
$text-xl: var(--text-xl);
$text-2xl: var(--text-2xl);
$text-3xl: var(--text-3xl);
$text-4xl: var(--text-4xl);
$text-5xl: var(--text-5xl);
$text-6xl: var(--text-6xl);

// SPACING
$sp-0: var(--space-0);
$sp-1: var(--space-1);
$sp-2: var(--space-2);
$sp-3: var(--space-3);
$sp-4: var(--space-4);
$sp-5: var(--space-5);
$sp-6: var(--space-6);
$sp-8: var(--space-8);
$sp-10: var(--space-10);
$sp-12: var(--space-12);
$sp-16: var(--space-16);
$sp-20: var(--space-20);
$sp-24: var(--space-24);
