@use "./typography" as t;
@use "./breakpoints" as mq;

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.current-page {
  text-transform: uppercase;
  @include t.current-route;
  @include mq.md {
    justify-self: start;
  }

  span {
    filter: opacity(0.25);
    font-weight: 600;
  }
}
