@use "./typography" as t;
@use "./breakpoints" as mq;
@use "./variables" as v;

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.current-page {
  text-transform: uppercase;
  @include t.current-route;
  @include mq.md {
    justify-self: start;
  }
  @include mq.lg {
    grid-row: span 1;
    grid-column: span 2;
    margin-block-end: v.$sp-10;
  }

  span {
    filter: opacity(0.25);
    font-weight: 600;
    margin-inline-end: v.$sp-6;
  }
}

.page-container {
  display: grid;
  gap: v.$sp-6;
  grid-template-rows: repeat(4, auto);
  grid-template-columns: 100%;
  justify-items: center;
  padding-block: clamp(v.$sp-6, 0.5458rem + 4.0712vw, v.$sp-10);
  padding-inline: clamp(v.$sp-6, 0.5458rem + 4.0712vw, v.$sp-10);
  text-align: center;
  overflow: hidden;
  @include mq.lg {
    padding-inline-start: clamp(v.$sp-10, -15.9615rem + 28.8462vw, v.$sp-40);
    padding-block-start: 0;
    position: relative;
    right: 0;
  }
}

.carousel {
  display: grid;
  column-gap: clamp(v.$sp-6, 0.5458rem + 4.0712vw, v.$sp-10);
  grid-template-columns: repeat(
    4,
    calc(100vw - clamp(v.$sp-6, 0.5458rem + 4.0712vw, v.$sp-10))
  );
  justify-self: start;
  row-gap: v.$sp-4;
  transform: translateX(calc(var(--carousel-index) * (-100vw)));
  transition: all 750ms linear;

  @media (prefers-reduced-motion: reduce) {
    transition: none;
  }
  @include mq.lg {
    align-self: end;
    row-gap: v.$sp-8;
  }
}

.active {
  transform: translate(0, 0) !important;
}
