@use "./sass/variables" as v;
@use "./sass/breakpoints" as mq;

.container {
  margin-inline: clamp(v.$sp-6, 0.5458rem + 4.0712vw, v.$sp-10);
  @include mq.lg {
    display: flex;
    justify-content: center;
  }
}
