@use "./sass/variables" as v;
@use "./sass/typography" as t;
@use "./sass/breakpoints" as mq;

.container {
  margin-inline: clamp(v.$sp-6, 0.5458rem + 4.0712vw, v.$sp-10);
  @include mq.lg {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: v.$sp-8;
    margin: v.$sp-2 v.$sp-40;
  }
}

.route {
  text-transform: uppercase;
  color: t.$color-primary;
  @include t.route;
  text-align: center;
  margin-block: v.$sp-12;

  @include mq.md {
    text-align: left;
  }
  @include mq.lg {
    margin-inline: 0;
    text-wrap: nowrap;
  }

  span {
    color: rgb(from t.$color-primary r g b / 0.5);
    margin-right: v.$sp-6;
  }
}
