@use "../../styles/sass/variables" as v;
@use "../../styles/sass/typography" as t;
@use "../../styles/sass/breakpoints" as mq;

.techNav {
  display: flex;
  justify-content: center;
  margin-block: v.$sp-8 v.$sp-10;
  gap: v.$sp-4;

  @include mq.lg {
    flex-direction: column;
    margin-inline-end: v.$sp-8;
    gap: v.$sp-8;
  }

  a {
    text-decoration: none;
    color: t.$color-primary;
    background-color: transparent;
    border: 1px solid rgb(from v.$color-white r g b / 0.25);
    border-radius: 9999px;
    @include t.font(
      v.$font-heading,
      clamp(v.$text-lg, 0.8169rem + 1.3146vw, v.$text-4xl)
    );
    min-height: clamp(v.$sp-10, 1.6197rem + 3.7559vw, v.$sp-20);
    min-width: clamp(v.$sp-10, 1.6197rem + 3.7559vw, v.$sp-20);
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: v.$color-white;
      border-color: v.$color-white;
      color: v.$color-blue-950;
    }
  }
}

a.active {
  background-color: v.$color-white;
  border-color: v.$color-white;
  color: v.$color-blue-950;
}
