@use "../../styles/sass/variables" as v;
@use "../../styles/sass/typography" as t;
@use "../../styles/sass/breakpoints" as mq;

.container {
  @include mq.lg {
    flex-direction: row-reverse;
    margin-inline-end: 0;
    align-items: center;
    gap: v.$sp-8;
  }
}

.content {
  text-align: center;
  flex-basis: 50%;
  @include mq.lg {
    text-align: left;
  }
}

.content__heading {
  @include t.pageSubHeading;
  color: t.$color-secondary;
  text-transform: uppercase;
}

.content__name {
  @include t.pageHeading;
  color: t.$color-primary;
  text-transform: uppercase;
  margin-block: v.$sp-4;
}

.content__description {
  @include t.body;
  color: t.$color-secondary;
}

.content__img {
  width: 100%;
  max-height: 430px;
  flex-basis: 50%;
  @include mq.sm {
    max-height: none;
  }
  @include mq.lg {
    width: auto;
  }
}
