@use "../../styles/sass/variables" as v;
@use "../../styles/sass/typography" as t;
@use "../../styles/sass/breakpoints" as mq;

.container {
  @include mq.lg {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-block: v.$sp-30;
    @media (min-height: 715px) {
      position: fixed;
      bottom: 0;
    }
  }
}

.hero {
  text-align: center;
  color: v.$color-text-primary;
  margin: v.$sp-8;

  @include mq.lg {
    text-align: left;
    max-width: 30rem;
  }

  p {
    color: t.$color-secondary;
    @include t.body;
  }
}

.hero__title,
.hero__subtitle {
  text-transform: uppercase;
  font-weight: 400;
}

.hero__title {
  @include t.homeHeading;
  margin-block: v.$sp-6;
  line-height: v.$lh-none;
}

.hero__subtitle {
  @include t.homeSubHeading;
  color: t.$color-secondary;
}

.explore__container {
  width: fit-content;
  margin-inline: 50%;
  transform: translateX(-50%);
  margin-block: v.$sp-30;

  @include mq.lg {
    margin: 0;
    transform: translate(0);
  }
}
