@use "../../styles/sass/variables" as v;
@use "../../styles/sass/typography" as t;
@use "../../styles/sass/breakpoints" as mq;

.container {
  @include mq.lg {
    column-gap: v.$sp-8;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto min-content auto;
    row-gap: unset;
  }
}

.tabImg {
  @include mq.lg {
    grid-row: span 2;
    margin-inline-start: 10%;
    div {
      justify-self: start;
    }
  }
}
.tabNav {
  @include mq.lg {
    grid-area: 2/2/3/3;
  }
}

.tabPanel {
  @include mq.lg {
    div {
      max-width: 455px;
    }
  }
}
