@use "../../styles/sass/variables" as v;
@use "../../styles/sass/typography" as t;
@use "../../styles/sass/breakpoints" as mq;

.container {
  @include mq.lg {
    align-items: center;
    grid-template-columns: max-content 35vw 40vw;
    grid-template-rows: min-content 40vh 10vh;
    padding-inline: calc(clamp(v.$sp-6, 0.5458rem + 4.0712vw, v.$sp-10) * 4) 0;

    width: 100vw;
  }
}

.tabNav {
  @include mq.lg {
    flex-direction: column;
    grid-area: 2/1/3/2;
    margin-inline-end: clamp(v.$sp-4, -6.3846rem + 11.5385vw, v.$sp-16);
  }
}

.tabImg {
  @include mq.lg {
    align-self: center;
    grid-area: 2/3/4/4;
    grid-row: span 3;
  }
}

.tabPanel {
  @include mq.lg {
    align-self: center;
    grid-area: 2/2/3/3;
  }
}
