@use "../styles/sass/variables" as *;
@use "../styles/sass/typography" as t;
@use "../styles/sass/breakpoints" as mq;

body {
  background-image: url("/images/home/background-home-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
