@use "../../../styles/sass/breakpoints" as mq;
@use "../../../styles/sass/typography" as t;
@use "../../../styles/sass/variables" as v;

.header {
  align-items: center;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  position: relative;
  z-index: v.$z-2;

  @include mq.md {
    margin: 0;
    justify-content: unset;
    justify-items: end;
  }
  @include mq.lg {
    margin-block: v.$sp-10;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    height: 1px;
    inset-inline: v.$sp-40 675px;
    background-color: rgb(from v.$color-white r g b / 0.25);
    display: none;
    pointer-events: none;
    z-index: 2;
    @include mq.lg {
      display: block;
    }
  }
}

.header__logo {
  margin-inline-start: v.$sp-6;
  @include mq.md {
    justify-self: center;
  }
  @include mq.lg {
    justify-self: start;
    margin-inline-start: v.$sp-16;
  }
}

.header__button {
  background: none;
  border: none;
  color: v.$color-blue-300;
  margin: v.$sp-6;
  z-index: 10;
  @include mq.md {
    display: none;
  }
}

.nav__container {
  background-color: rgb(from v.$color-white r g b / 0.05);
  backdrop-filter: blur(10px);
  bottom: 0;
  overflow: hidden;
  padding: v.$sp-8 v.$sp-0 v.$sp-8 v.$sp-8;
  position: fixed;
  right: 0;
  transition: all 350ms ease-in;
  transform: translateX(100%);
  top: 0;
  width: fit-content;
  visibility: hidden;
  @media (prefers-reduced-motion: reduce) {
    transition: none;
  }

  @include mq.md {
    padding: 0 v.$sp-10 0 clamp(v.$sp-20, -10rem + 31.25vw, v.$sp-40);
    position: static;
    transform: translate(0);
    visibility: visible;
  }
  @include mq.lg {
    padding-inline: v.$sp-40 v.$sp-16;
  }
}

.nav__containerOpen {
  transform: translate(0);
  visibility: visible;
}

.nav__menu {
  margin-top: v.$sp-30;
  text-transform: uppercase;
  @include mq.md {
    margin: 0;
  }

  ul {
    display: grid;
    gap: v.$sp-8;
    justify-items: stretch;
    padding: 0;

    @include mq.md {
      gap: v.$sp-12;
      grid-template-columns: repeat(4, auto);
    }
  }

  li {
    display: flex;
  }

  a {
    padding-inline-end: v.$sp-24;
    text-decoration: none;
    width: 100%;
    @include t.navigation;

    &:hover {
      cursor: pointer;
    }
    @include mq.md {
      padding-block: v.$sp-10;
      padding-inline: 0;
    }
  }

  span {
    font-weight: bold;
    margin-inline-end: v.$sp-3;
  }
}

.nav__active {
  border-inline-end: 3px solid v.$color-white;
  @include mq.md {
    border-block-end: 3px solid v.$color-white;
    border-inline-end: unset;
  }
}
