@use "../../styles/sass/variables" as v;
@use "../../styles/sass/typography" as t;
@use "../../styles/sass/breakpoints" as mq;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: clamp(0rem, -2.8571rem + 5.9524vw, v.$sp-10);

  @include mq.lg {
    justify-content: flex-end;
  }

  & img {
    cursor: pointer;
    float: right;
    z-index: v.$z-2;
    margin: v.$sp-6;

    @include mq.md {
      margin-inline: clamp(v.$sp-10, 0.7857rem + 3.5714vw, v.$sp-16);
    }
  }
}

hr {
  height: 1px;
  width: clamp(0rem, -36.5714rem + 76.1905vw, 32rem);
  z-index: 1;
  margin-inline-end: -2rem;
}

.header__nav {
  backdrop-filter: blur(10px);
}

.header__navbar {
  background-color: rgb(from v.$color-white r g b / 0.05);
  padding-inline: clamp(v.$sp-10, -6.0714rem + 17.8571vw, v.$sp-40)
    clamp(v.$sp-10, 0.7857rem + 3.5714vw, v.$sp-16);
}

.header__offcanvas {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 70%;
  visibility: hidden;
  transform: translateX(100%);
  padding: v.$sp-8 v.$sp-0 v.$sp-8 v.$sp-8;
  transition: all 350ms ease-out;

  @media (prefers-reduced-data: reduce) {
    transition: none;
  }
}

.header__offcanvasOpen {
  visibility: visible;
  transform: translateX(0);
}

.header__navMenu {
  display: flex;
  flex-direction: column;
  gap: v.$sp-8;
  margin-block-start: v.$sp-24;

  @include mq.md {
    flex-direction: row;
    margin-block: 0;
    gap: v.$sp-12;
  }

  & a {
    text-decoration: none;
    color: t.$color-primary;
    @include t.font(v.$font-secondary);
    text-transform: uppercase;
    @include mq.md {
      padding-block: v.$sp-10;
    }
  }

  @include mq.md {
    & a:hover {
      border-bottom: 3px v.$color-white solid;
    }
  }
}

span {
  font-weight: 900;
}
