@use "../../styles/sass/variables" as v;
@use "../../styles/sass/typography" as t;
@use "../../styles/sass/breakpoints" as mq;

.crewSelect {
  display: flex;
  justify-content: center;
  gap: v.$sp-4;
  margin-block: v.$sp-8;

  @include mq.lg {
    justify-content: flex-start;
  }

  a {
    width: clamp(0.625rem, 0.2679rem + 0.744vw, 0.9375rem);
    height: clamp(0.625rem, 0.2679rem + 0.744vw, 0.9375rem);
    background-color: rgb(from v.$color-white r g b / 0.2);
    border-radius: 9999px;
    color: v.$color-text-primary;
    text-decoration: none;
    font-size: 0;

    &:hover {
      background-color: v.$color-white;
    }
  }
}

a.active {
  background-color: v.$color-white;
}
