@use "../../../styles/sass/breakpoints" as mq;
@use "../../../styles/sass/typography" as t;
@use "../../../styles/sass/variables" as v;

.img__container {
  justify-self: center;
  position: relative;
  @include mq.lg {
    grid-row: span 2;
  }
}

.img__containerSquare {
  aspect-ratio: 1/1;
  width: clamp(150px, 0.4294rem + 38.1679vw, 300px);
  @include mq.md {
    width: clamp(300px, 5.8929rem + 26.7857vw, 480px);
  }
}

.img__containerPortrait {
  aspect-ratio: 41/50;
  height: clamp(21.25rem, 8.1298rem + 55.9796vw, 35rem);
  @include mq.md {
    height: clamp(35rem, 22.5714rem + 25.8929vw, 45.875rem);
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      180deg,
      transparent 77%,
      v.$color-blue-950 100%
    );
  }
}

.img__containerFill {
  aspect-ratio: 515/527;
  // allow img to be full screen width
  width: 100vw;
  right: calc(clamp(v.$sp-6, 0.5458rem + 4.0712vw, v.$sp-10) / 2);
  @include mq.sm {
    aspect-ratio: 384/155;
  }
  @include mq.lg {
    aspect-ratio: 515/527;
    width: 40vw;
    justify-self: start;
    right: 0;
  }
}

.img__landscape {
  display: none;
  @include mq.sm {
    display: block;
  }
  @include mq.lg {
    display: none;
  }
}
.img__portrait {
  display: block;
  @include mq.sm {
    display: none;
  }
  @include mq.lg {
    display: block;
  }
}
