@import "./styles/tokens.css";
@import "./styles/reset.css";
/* @import "./foundation/base.css"; */
/* @import "./foundation/utilities.css"; */

html,
body {
  overflow-x: hidden;
  max-width: 100vw;
  max-height: fit-content;
}

.nav-active {
  border-right: 3px solid white;
}

@media (min-width: 768px) {
  .txt-active {
    border-bottom: 3px solid white;
    border-right: none;
  }
}

.destin-active {
  border-bottom: 3px solid white;
}
