@import "./styles/tokens.css";
@import "./styles/reset.css";
/* @import "./foundation/base.css"; */
@import "./styles/utils.scss";

html,
body {
  overflow-x: hidden;
  max-width: 100vw;
  max-height: fit-content;
}
