@use "../../styles/sass/variables" as v;
@use "../../styles/sass/typography" as t;
@use "../../styles/sass/breakpoints" as mq;

.container {
  justify-content: flex-start;
}

.content {
  text-align: center;
  margin-block: v.$sp-40;
  @include mq.lg {
    text-align: left;
  }
}

.title {
  @include t.pageHeading;
  color: t.$color-primary;
  text-transform: uppercase;
}

.body {
  @include t.body;
  color: t.$color-secondary;
  text-transform: uppercase;
}
